.showMore {
  display: flex;
  justify-content: center;
  background: #202020;
  min-height: 166px;
  width: 100%;
}

.showMore__button {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  border: none;
  background-color: #2F2F2F;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin-top: 45px;
  margin-bottom: 80px;
  padding: 0;
  cursor: pointer;
  transition: 0.8s linear;
}

.showMore__button:hover {
  opacity: 0.8;
}

@media (max-width: 879px) {
  .showMore__button {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .showMore__button {
    width: 240px;
  }
}

.showMore__button_saved {
  display: none;
}