.moviesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  max-width: 89.09%;
  background: #202020;
  margin: 70px auto 7px;
  gap: 38px 20px;
  list-style-type: none;
}

@media screen and (max-width: 898px) {
  .moviesList {
    max-width: 92.19%;
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    gap: 30px 30px;
    padding: 70px 0 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 525px) {
  .moviesList {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 0 0;
    max-width: 93.75%;
    gap: 34px;
  }
}