.portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 89.063%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width:898px) {
  .portfolio {
    width: 86.979%;
    padding: 0;
  }
}

@media screen and (max-width:525px) {
  .portfolio {
    gap: 40px;
    width: 91.25%;
  }
}

.portfolio__heading {
  margin: 0;
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 111.111%;
}

@media screen and (max-width:898px) {
  .portfolio__heading {
    color: #A0A0A0;
  }
}

@media screen and (max-width:525px) {
  .portfolio__heading {
    font-size: 14px;
    line-height: 142.857%;
  }
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 0;
  padding: 0;
}

.portfolio__name {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #424242;
  min-height: 69px;
}

.portfolio__name:last-child{
  border-bottom: none;
}

@media screen and (max-width:898px) {
  .portfolio__name {
    font-size: 18px;
  }
}

@media screen and (max-width:525px) {
  .portfolio__name {
    font-size: 14px;
  }
}

/* .portfolio__line {
  border-bottom: 1px solid #424242;
} */

.portfolio__link {
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: -1.2px;
  text-decoration: none;
  background-image: url(../../../images/Стрелка.svg);
  background-position: right;
  background-position-y: 21px;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: .8s linear;
}

.portfolio__link:hover {
  opacity: 0.7;
}

@media screen and (max-width:898px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 178.571%;
    letter-spacing: -1.12px;
    width: 99.19%;
  }
}

@media screen and (max-width:525px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 155.556%;
    letter-spacing: -0.72px;
    background-size: 11px;
    background-position-y: 8px;
    height: 30px;
  }
}