.auth {
  background-color: #202020;
  color: white;
  margin: 0 auto;
  min-width: 396px;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (max-width: 869px) {
  .auth {
    padding: 232px 0 0;
  }
}

@media (max-width: 525px) {
  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    padding: 56px 0 0;
  }
}

.auth__title {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 38px 0 0;
}

@media (max-width: 869px) {
  .auth__title {
    padding-bottom: 40px;
  }
}

@media (max-width: 525px) {
  .auth__title {
    padding-bottom: 80px;
    margin: 50px auto 0;
  }
}

.auth__signin {
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
  transition: 0.8s;
}

@media (max-width: 869px) {
  .auth__signin {
    padding-bottom: 232px;
  }
}

@media (max-width: 525px) {
  .auth__signin {
    padding-bottom: 30px;
    font-size: 12px;
  }
}

.auth__signin:hover {
  opacity: 0.6;
}

.auth__login-link {
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media screen and (max-width: 525px) {
  .auth__login-link {
    font-size: 12px;
  }
}

.auth__input {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #202020;
  border: none;
  border-bottom: 1px solid #424242;
  color: #ccc;
  padding: 0 0 10px;
  margin: 0;
}

.auth__name {
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  height: 12px;
  margin: 0 0 5px;
  padding: 0;
}

.auth__input:not(:last-of-type) {
  margin: 0 0 24px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0 0;
}

@media screen and (max-width: 869px) {
  .auth__form {
    padding: 0;
  }
}

@media screen and (max-width: 525px) {
  .auth__form {
    min-width: 260px;
    margin: 0 auto;
  }
}

.auth__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #4285F4;
  margin-top: 133px;
  margin-bottom: 16px;
  padding: 0;
  height: 45px;
  cursor: pointer;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  transition: 0.8s;
}

.auth__button-container:hover {
  opacity: 0.85;
}

@media screen and (max-width: 525px) {
  .auth__button-container {
    margin: 222px 0 14px;
    font-size: 12px;
  }
}

.auth__line {
  color: #EE3465;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  margin-bottom: 0;
}